### Original: 

ideally, evan would review the material and give us the price projection he is comfortable with (he has been asking us for many pieces of analysis to lead to this question, including molly/surafael/jamies projections and now this one from adam). in the absence of his final 10G and 1G projection, i have recommended using \$ 2500 for 10G and \$ 890 for 1G.

How:
first, please review the logic for my projection. i tried to make it something that would appeal to evan. it is located here: https://docs.google.com/document/d/1R12jdZjNvhG9_4yExXCCIozwX6kZ4Axcs4dXt0y3Efk/edit?disco=AAAADU2fU3g


then calculate, for all state network states, how much would it cost to get the state 1G for all of their districts with <1,000 students, 10G for 1,000-10,000 students? for districts over 10,000 students, however many multiples of 10G get them to their goals? (evan has not requested adjustment for oversubscription, but an alternative we can try if these numbers are low are oversubscription adjustments). note that these projections may change, so it would be wise to make the cost for 1G and 10G easy to malipulate?


### New:

This is a version of state_networks_projections_1G_10G.ipynb that as flat pricing. That is, all districts, regardless if they are meeting or not meeting 1 Mbps goal will get a pricing of $890 for 1G or $2500 for 10G and how this compares to what they are already spending.

### Drive by request:

See details for GA and NE. How were these estimates determined? Add upstream cost, and ia total costs for reference

https://www.pivotaltracker.com/story/show/168150168

In [3]:
import math
import numpy as np
import os
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# get states that are in state network
HOST_DAR = os.environ.get("HOST_DAR")
USER_DAR = os.environ.get("USER_DAR")
PASSWORD_DAR = os.environ.get("PASSWORD_DAR")
DB_DAR = os.environ.get("DB_DAR")
PORT_DAR = os.environ.get("PORT_DAR")
GITHUB = os.environ.get("GITHUB")

In [5]:
#open connection to DB
myConnection = psycopg2.connect( host=HOST_DAR, 
                                user=USER_DAR, 
                                password=PASSWORD_DAR, 
                                database=DB_DAR, 
                                port=PORT_DAR)

### QA Task 1

For all state network states,

- how much would it cost to get the state 1G for all of their districts with <1,000 students, 
- 10G for 1,000-10,000 students?

In [6]:
# sql_query_part1
sql_query = """
select 
  d.district_id, 
  d.funding_year, 
  d.name, 
  d.state_code, 
  d.consortium_affiliation,
  d.consortium_affiliation_ids,
  d.num_students, 
  dbw.ia_bw_mbps_total, 
  dbw.ia_monthly_cost_total, 
  dbw.ia_monthly_cost_per_mbps, 
  dbw.projected_bw_fy2018, 
  dbw.meeting_2018_goal_oversub, 
  dffa.fit_for_ia, 
  dffa.fit_for_ia_cost, 
  ss.sea_name, 
  ss.name as ss_name, 
  ss.state_network 
from 
  ps.districts d 
  JOIN ps.districts_bw_cost dbw on d.funding_year = dbw.funding_year 
  and d.district_id = dbw.district_id 
  join ps.districts_fit_for_analysis dffa ON d.funding_year = dffa.funding_year 
  and d.district_id = dffa.district_id 
  join ps.states_static ss on d.state_code = ss.name 
where 
  d.funding_year = 2019 
  and d.in_universe = true 
  and d.district_type = 'Traditional' 
  and ss.state_network = true
"""

#pull bandwidths from DB
cur = myConnection.cursor()
cur.execute(sql_query)
names = [x[0] for x in cur.description]
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=names)

In [7]:
# convert from decimal to numeric
numeric_cols = ['num_students', 'ia_monthly_cost_total', 'ia_monthly_cost_per_mbps','projected_bw_fy2018']
df[numeric_cols] = df[numeric_cols].astype(float)

In [8]:
df.head()

,district_id,funding_year,name,state_code,consortium_affiliation,consortium_affiliation_ids,num_students,ia_bw_mbps_total,ia_monthly_cost_total,ia_monthly_cost_per_mbps,projected_bw_fy2018,meeting_2018_goal_oversub,fit_for_ia,fit_for_ia_cost,sea_name,ss_name,state_network
0,881421,2019,Marshall County School District,AL,ALABAMA SUPERCOMPUTER AUTHORITY,1005870,5687.0,2000,5284.840000,2.642420,4833.95,False,True,True,ALABAMA DEPARTMENT OF EDUCATION,AL,True
1,881423,2019,Dewitt Public School District,AR,DIS STATE OF ARKANSAS,1006162,1319.0,2000,4260.157791,2.130079,1319.00,True,True,True,ARKANSAS DEPARTMENT OF EDUCATION,AR,True
2,881427,2019,Hoover City School District,AL,ALABAMA SUPERCOMPUTER AUTHORITY,1005870,13938.0,10000,612.500000,0.061250,9756.60,True,True,True,ALABAMA DEPARTMENT OF EDUCATION,AL,True
3,881431,2019,Madison City Schools,AL,ALABAMA SUPERCOMPUTER AUTHORITY,1005870,10440.0,7500,16497.220000,2.199629,8874.00,False,True,True,ALABAMA DEPARTMENT OF EDUCATION,AL,True
4,881435,2019,Warren Public School District 1,AR,DIS STATE OF ARKANSAS,1006162,998.0,2000,3625.866167,1.812933,998.00,True,True,True,ARKANSAS DEPARTMENT OF EDUCATION,AR,True

### Removing specific states with $0k state network spending: NC, AL, MS, CT, SC, WV, HI

In [9]:
df = df[~df.state_code.isin(['NC', 'AL', 'MS', 'CT', 'SC', 'WV', 'HI'])]
df.shape

(3041, 17)

### Masks/Filters

In [10]:
mask_less_than_1k_students = df.num_students <= 1000
mask_1k_to_10k = (df.num_students > 1000) & (df.num_students <= 10000) 
mask_10k_plus = df.num_students > 10000 
mask_not_meeting = df.meeting_2018_goal_oversub == False
mask_meeting = df.meeting_2018_goal_oversub == True
mask_fit_ia = df.fit_for_ia == True
mask_fit_cost = df.fit_for_ia_cost == True

### Add Multiple of 10G's Needed to meet 1 Mbps Goal

In [11]:
# districts with 10k plus students
sub_cols = ['district_id', 'funding_year', 'name', 'state_code','num_students', 'ia_bw_mbps_total', 'projected_bw_fy2018']
df_10k_plus = df[sub_cols][mask_10k_plus]
df_10k_plus

,district_id,funding_year,name,state_code,num_students,ia_bw_mbps_total,projected_bw_fy2018
112,881948,2019,Bentonville Public Schools,AR,16609.0,22000,11626.30
137,882010,2019,Cabot Public School District,AR,10625.0,30000,7437.50
215,882229,2019,Fort Smith Public School,AR,14888.0,20000,10421.60
285,882469,2019,Little Rock School District,AR,23852.0,30000,16696.40
331,882690,2019,Pulaski Co Spec School District,AR,12680.0,24000,8876.00
333,882699,2019,Rogers Public School District 30,AR,15739.0,20000,11017.30
347,882764,2019,Springdale Public Schools,AR,21359.0,30000,14951.30
530,886853,2019,Appoquinimink School District,DE,10525.0,10000,8946.25
534,886859,2019,Christina School District,DE,14538.0,10000,10176.60
537,886862,2019,Indian River School District,DE,10056.0,10000,8547.60
542,886869,2019,Brandywine School District,DE,10243.0,6100,8706.55
543,886871,2019,Red Clay School District,DE,15744.0,10000,11020.80
547,889810,2019,Troup County School System,GA,12848.0,2900,8993.60
550,889837,2019,Atlanta Public Schools,GA,44825.0,20400,31377.50
555,889858,2019,Barrow County School District,GA,14241.0,2000,12104.85
556,889859,2019,Bartow County School District,GA,13768.0,1900,9637.60
559,889862,2019,Bibb County Public Schools,GA,22561.0,9100,15792.70
566,889869,2019,Bulloch County School District,GA,10547.0,2000,8964.95
573,889876,2019,Carroll County School District,GA,14842.0,4400,10389.40
576,889879,2019,Catoosa County School District,GA,10690.0,2100,7483.00
578,889881,2019,Savannah-Chatham County Public Schools,GA,38047.0,6200,26632.90
581,889884,2019,Cherokee County School District,GA,41916.0,10700,29341.20
583,889886,2019,Clarke County School District,GA,13447.0,4100,9412.90
585,889888,2019,Clayton County Public Schools,GA,54345.0,11100,38041.50
587,889890,2019,Cobb County School District,GA,111293.0,11100,77905.10
590,889893,2019,Columbia County Board Of Education,GA,26914.0,3000,18839.80
593,889896,2019,Coweta County School System,GA,22567.0,4800,15796.90
601,889904,2019,DeKalb County School District,GA,97916.0,33300,68541.20
604,889907,2019,Dougherty County School System,GA,14946.0,7300,10462.20
605,889908,2019,Douglas County School System,GA,25560.0,4500,17892.00
...,...,...,...,...,...,...,...
2972,983051,2019,Federal Way School District 210,WA,22249.0,5000,15574.30
2992,983074,2019,Highline School District 401,WA,19018.0,11000,13312.60
2997,983082,2019,Issaquah School District 411,WA,20289.0,2000,14202.30
3001,983087,2019,Kennewick School District 17,WA,19228.0,5000,13459.60
3002,983088,2019,Kent School District,WA,26646.0,20000,18652.20
3011,983099,2019,Lake Washington School District 414,WA,28264.0,3000,19784.80
3026,983118,2019,Marysville School District 25,WA,11000.0,5050,7700.00
3044,983142,2019,Mukilteo School District 6,WA,15544.0,2000,10880.80
3057,983157,2019,North Thurston School District 3,WA,14962.0,5000,10473.40
3059,983159,2019,Northshore School District 417,WA,21470.0,11000,15029.00
3080,983183,2019,Pasco School District 1,WA,17839.0,20000,12487.30
3093,983199,2019,Puyallup School District 3,WA,23146.0,10000,16202.20
3102,983209,2019,Renton School District 403,WA,17007.0,5000,11904.90
3104,983211,2019,Richland School District 400,WA,12877.0,5000,9013.90
3114,983222,2019,Seattle School District 1,WA,54073.0,10000,37851.10
3132,983245,2019,Spokane School District 81,WA,30377.0,10000,21263.90
3144,983259,2019,Sumner School District 320,WA,10134.0,4000,8613.90
3146,983262,2019,Tacoma School District 10,WA,27434.0,20000,19203.80
3160,983283,2019,Vancouver School District,WA,23036.0,5000,16125.20
3185,983313,2019,Yakima School District 7,WA,15804.0,2000,11062.80
3206,983721,2019,Appleton Area School District,WI,14686.0,10000,10280.20
3336,983873,2019,Eau Claire School District,WI,10296.0,10000,7207.20
3386,983931,2019,Green Bay Area Public School District,WI,20943.0,10000,14660.10
3421,983977,2019,Kenosha Unified School District 1,WI,21527.0,10000,15068.90
3445,984004,2019,Madison Metro School District,WI,25942.0,20000,18159.40
3474,984043,2019,Milwaukee Public Schools,WI,68666.0,21000,48066.20
3545,984137,2019,Racine Unified School District,WI,18326.0,10000,12828.20
3627,984257,2019,Waukesha School District,WI,11889.0,10000,8322.30
3671,984864,2019,Laramie County School District #1,WY,14170.0,10000,9919.00
3694,984893,2019,Natrona County School District # 1,WY,13127.0,2700,9188.90

### QA Task 4

In [13]:
# change the price as needed
projected_price_1g = 890
projected_price_10g = 2500

# how many multiples of 10G to get them to their goals? with oversubscription
def round_up_nearest_10k(row):
    return int(math.ceil(row/10000))


# without oversubscription
df_10k_plus['multiple_10G_no_oversub'] = df_10k_plus.num_students.apply(round_up_nearest_10k)

# projected cost to get 10k plus to meet 1 Mbps without oversub by district
df_10k_plus['projected_mrc_10g_10kplus_no_oversub'] = df_10k_plus['multiple_10G_no_oversub']*projected_price_10g

### Filter by State

In [14]:
# filtering for GA and NE
df_ga_ne = df_10k_plus[df_10k_plus.state_code.isin(["GA", "NE"])]

### How much is the state network spending?

### For all state network states, 
- how much is the state network spending? 
- where possible, please calculate this at an application level rather than a district level. this should really just be the upstream line items serving districts in our universe, from the state network applicaiton.

In [15]:
# list of most common consortia ids

# 1006162

# 1004592
# 1008357
# 1009239
# 1014118
# 1015511
# 1020107
# 1016880
# 1020220
# 1021110
# 1032821
# 1037707
# 1035776
# 1055594
# 1051850 | 1051855
# 1049045
# 1047587
# 1047087

### Evan Follow up: Adding the upstream cost by district

In [16]:
# upstream monthly cost total by district

sql_query = """
select 
  dli.district_id,
  d.funding_year,
  ss.state_code, 
  sum(dli.total_monthly_cost) as upstream_monthly_cost_total
  
from 
  ps.districts_line_items dli 
  JOIN ps.districts d on d.district_id = dli.district_id 
  and d.funding_year = dli.funding_year 
  join ps.states_static ss on d.state_code = ss.state_code 
  join ps.line_items li on dli.line_item_id = li.line_item_id 
  join ps.entity_bens_lkp eb on li.applicant_ben = eb.ben 
  and li.funding_year = eb.funding_year 
  
where 
  d.funding_year = 2019 
  and d.district_type = 'Traditional' 
  and d.in_universe = true 
  and ss.state_network = true 
  and dli.purpose in ('upstream') 
  and eb.entity_id in (
    1006162, 1004592, 1008357, 1009239, 
    1014118, 1015511, 1020107, 1020220, 
    1021110, 1032821, 1037707, 1035776, 
    1055594, 1051855, 1047087,
    1051850, 1049045, 1047587
  ) 
group by dli.district_id, d.funding_year, ss.state_code
"""

#pull bandwidths from DB
cur = myConnection.cursor()
cur.execute(sql_query)
names = [x[0] for x in cur.description]
rows = cur.fetchall()
df_sn_spending_district = pd.DataFrame(rows, columns=names)

In [17]:
# filtering for just states "GA" and "NE"
df_upstream_ga_ne = df_sn_spending_district[df_sn_spending_district.state_code.isin(['NE', 'GA'])]

In [20]:
df_upstream_ga_ne

      district_id  funding_year state_code  upstream_monthly_cost_total
246        889810          2019         GA  1429.2799999999999999857072
247        889835          2019         GA   960.4900000000000000000000
248        889836          2019         GA   2169.200000000000000108460
249        889837          2019         GA   4979.600000000000000000000
250        889838          2019         GA   2169.200000000000000108460
251        889840          2019         GA  2188.6100000000000000000000
252        889857          2019         GA   2169.200000000000000108460
253        889859          2019         GA  1429.2799999999999999857072
254        889860          2019         GA   2169.200000000000000108460
255        889861          2019         GA  2465.1099999999999999506978
256        889862          2019         GA   2110.300000000000000000000
257        889863          2019         GA   903.9699999999999999819206
258        889864          2019         GA  1815.6300000000000000000000
259        889865          2019         GA   903.9699999999999999819206
260        889866          2019         GA   2169.200000000000000108460
261        889867          2019         GA  5518.3100000000000000000000
262        889868          2019         GA  1211.8100000000000000000000
263        889869          2019         GA  4499.3499999999999999550065
264        889870          2019         GA   881.6799999999999999911832
265        889871          2019         GA   881.6799999999999999911832
266        889872          2019         GA  1211.8100000000000000000000
267        889873          2019         GA  1812.7800000000000001450224
268        889874          2019         GA  5212.8100000000000000000000
269        889875          2019         GA   2169.200000000000000108460
270        889876          2019         GA  1488.0600000000000000000000
271        889877          2019         GA   903.9699999999999999819206
272        889878          2019         GA   903.9699999999999999819206
273        889879          2019         GA  7431.2900000000000000000000
274        889880          2019         GA   2169.200000000000000108460
275        889881          2019         GA  2516.6500000000000000000000
...           ...           ...        ...                          ...
1402       936139          2019         NE   865.4200000000000000000000
1403       936143          2019         NE    940.600000000000000000000
1404       936144          2019         NE   476.0100000000000000000000
1405       936147          2019         NE    1250.00000000000000000000
1406       936148          2019         NE   435.3600000000000000000000
1407       936153          2019         NE   934.2400000000000000000000
1408       936155          2019         NE     850.00000000000000000000
1409       936158          2019         NE   450.1200000000000000000000
1410       936159          2019         NE    2592.00000000000000000000
1411       936162          2019         NE   804.6400000000000000000000
1412       936163          2019         NE   438.0800000000000000000000
1413       936165          2019         NE  1087.0200000000000000000000
1414       936166          2019         NE   1609.600000000000000000000
1415       936167          2019         NE   2227.500000000000000000000
1416       936168          2019         NE  1418.3100000000000000000000
1417       936174          2019         NE   435.0800000000000000000000
1418       936186          2019         NE   432.3500000000000000000000
1419       936190          2019         NE    1000.00000000000000000000
1420       936191          2019         NE    544.500000000000000000000
1421       936192          2019         NE   865.4200000000000000000000
1422       936195          2019         NE  1807.9200000000000000000000
1423       936196          2019         NE    2150.00000000000000000000
1424       936197          2019         NE   943.6700000000000000000000
1425       936204          2019         NE    1100.00000000000000000000
1426       936205          2019         NE   3524.400000000000000000000
1427       936206          2019         NE     734.00000000000000000000
1428       936207          2019         NE  2566.0800000000000000000000
1429       936209          2019         NE     495.00000000000000000000
2165      1086736          2019         NE  1205.4400000000000000000000
2166      1086737          2019         NE  4143.1100000000000000000000

[272 rows x 4 columns]

In [23]:
df_upstream_ga_ne.district_id.nunique()

272

In [24]:
# filtering original df for just states "GA" and "NE"
df_ga_ne = df[['district_id', 'funding_year', 'name', 'state_code',
               'num_students','ia_bw_mbps_total', 'ia_monthly_cost_total']][df.state_code.isin(['NE', 'GA'])]

### Districts without Upstream Costs

In [29]:
print(f"Number of districts with $0 upstream costs: {len(set(df_ga_ne.district_id.unique()).difference(df_upstream_ga_ne.district_id.unique()))}")

Number of districts with $0 upstream costs: 153

In [31]:
set(df_ga_ne.district_id.unique()).difference(df_upstream_ga_ne.district_id.unique())

{889839,
 889858,
 935899,
 935900,
 935906,
 935907,
 935908,
 935909,
 935911,
 935912,
 935913,
 935914,
 935916,
 935925,
 935926,
 935933,
 935934,
 935936,
 935941,
 935942,
 935943,
 935944,
 935947,
 935948,
 935949,
 935950,
 935952,
 935953,
 935955,
 935956,
 935957,
 935958,
 935961,
 935962,
 935963,
 935965,
 935966,
 935967,
 935968,
 935969,
 935970,
 935971,
 935972,
 935973,
 935974,
 935976,
 935987,
 935991,
 935994,
 935996,
 936001,
 936004,
 936006,
 936007,
 936010,
 936011,
 936015,
 936017,
 936019,
 936023,
 936024,
 936025,
 936026,
 936031,
 936032,
 936033,
 936035,
 936037,
 936038,
 936041,
 936043,
 936044,
 936045,
 936048,
 936050,
 936051,
 936053,
 936054,
 936056,
 936060,
 936063,
 936064,
 936067,
 936068,
 936070,
 936071,
 936072,
 936074,
 936076,
 936077,
 936081,
 936082,
 936084,
 936085,
 936086,
 936089,
 936090,
 936091,
 936093,
 936095,
 936096,
 936097,
 936099,
 936102,
 936105,
 936108,
 936109,
 936110,
 936112,
 936114,
 936117,
 936119,
 936120,
 936121,
 936122,
 936125,
 936126,
 936127,
 936128,
 936140,
 936141,
 936145,
 936149,
 936150,
 936151,
 936152,
 936154,
 936156,
 936157,
 936160,
 936161,
 936164,
 936169,
 936170,
 936172,
 936173,
 936175,
 936176,
 936177,
 936179,
 936181,
 936183,
 936184,
 936185,
 936187,
 936188,
 936189,
 936193,
 936198,
 936200,
 936201,
 936203,
 936208}

### Rerun here if needed

In [88]:
# merge both dataframes
df_ga_ne_cost = pd.merge(df_ga_ne, df_upstream_ga_ne[['district_id', 'upstream_monthly_cost_total']], 
                         on='district_id', how='left')

### Add Projected Costs for 1G and 10G

In [91]:
def projected_cost_1G(row):
    if row <= 1000:
        return projected_price_1g
    
def projected_cost_10G(row):
    if (row > 1000) and (row <= 10000):
        return projected_price_10g

# new mrc with $890 1G projected price
df_ga_ne_cost['projected_mrc_1g'] = df_ga_ne_cost.num_students.apply(projected_cost_1G)

# new mrc with $2500 per 10G projected price
df_ga_ne_cost['projected_mrc_10g'] = df_ga_ne_cost.num_students.apply(projected_cost_10G)

### Add Projected Costs for 10G plus

In [95]:
# merge with df_ga_ne_cost
sub_cols = ['district_id', 'multiple_10G_no_oversub',  'projected_mrc_10g_10kplus_no_oversub']
df_result_ga_ne = pd.merge(df_ga_ne_cost, df_10k_plus[sub_cols], how='left', on=['district_id'])

# fill in nans with zeroes
df_result_ga_ne.fillna(0, inplace=True)

### Add Total Projected Cost

In [98]:
# total projected cost is the sum of 1g, 10g and 10gplus
df_result_ga_ne['total_projected_cost'] = df_result_ga_ne['projected_mrc_1g'] + df_result_ga_ne['projected_mrc_10g'] + df_result_ga_ne['projected_mrc_10g_10kplus_no_oversub']

In [100]:
# save as a csv
df_result_ga_ne.to_csv("ga_ne_detailed_with_cost.csv", index=False)

In [1]:
# converting to a .py file
!jupyter nbconvert --to script state_networks_projections_1G_10G_flat_pricing_rerun_NE_GA_details.ipynb

[NbConvertApp] Converting notebook state_networks_projections_1G_10G_flat_pricing_rerun_NE_GA_details.ipynb to script
[NbConvertApp] Writing 9306 bytes to state_networks_projections_1G_10G_flat_pricing_rerun_NE_GA_details.py